@import url(../vendor/normalize.css);
@import url(../vendor/fonts/roboto.css);

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

.page {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;;
    display: grid;
    grid-template-areas:
    "sidebar header"
    "sidebar main";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    grid-area: sidebar;
    gap: 7rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
    background: lightblue;
}

.sidebar__logo-container {
    text-decoration: none;
    color: #000;
    height: 10rem;
    display: flex;
    font-size: 3rem;
    gap: 1rem;
    align-items: center;
}

.sidebar__logo {
    object-fit: contain;
    object-position: center;
    height: 100%;
}

.sidebar__main {
    list-style: none;
    padding-left: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.sidebar__main-item {
    text-transform: capitalize;
    align-items: center;
    display: flex;
    gap: 5rem;
    font-size: 2.5rem;
    height: 5rem;
    transition: all .4s ease-in-out;
}

.sidebar__main-item_active {
    border-left: 10px solid burlywood;
    padding-left: 2rem;
}

.sidebar__main-icon {
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.sidebar__footer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    list-style: none;
    padding-left: 2.5rem;
}

.sidebar__footer-item {
    text-transform: capitalize;
    align-items: center;
    display: flex;
    gap: 5rem;
    font-size: 2.5rem;
    height: 5rem;
    transition: all .4s ease-in-out;
}

.sidebar__footer-icon {
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.header {
    grid-area: header;
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background: #fff;
    box-shadow: 10px 0 20px 0 rgba(0, 0, 0, .5);
}

.header__search {
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search__label {
    height: 100%;
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;
    gap: 2rem;
}

.search__icon {
    width: 5rem;
    height: 5rem;
    transition: all .2s ease-in-out;
}

.search__bar {
    width: calc(100% - 5rem);
    border-radius: 1rem;
    padding: 1rem;
    font-size: 2rem;
    background: rgba(222, 222, 222, .8);
    border: none;
}

.profile__label {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.profile__notifications {
    width: 4rem;
    height: 4rem;
    object-fit: contain;
    object-position: center;
    transition: all .2s ease-in-out;
}

.profile__image {
    object-fit: contain;
    object-position: center;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    transition: all .2s ease-in-out;
}

.profile__name {
    text-transform: capitalize;
    font-size: 2rem;
}

.header__profile {
    gap: 3rem;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.greeting {
    display: grid;
    grid-template-areas:
    "image greeting"
    "image name";
    gap: 1rem 2rem;
}

.profile__image_place_greeting {
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    grid-area: image;
}

.greeting__text {
    font-size: 2rem;
    align-self: flex-end;
    grid-area: greeting;
}

.profile__name_place_greeting {
    font-size: 3rem;
    grid-area: name;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-auto-flow: column;
    grid-auto-columns: minmax(150px, 1fr);
    width: 50%;
    gap: 2rem;
    list-style: none;
}

.button {
    width: 100%;
    padding: 2rem;
    border-radius: 1rem;
    font-size: 2.5rem;
    border: none;
    background: lightblue;
    transition: all .2s ease-in-out;
    color: #333;
    text-transform: capitalize;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-areas:
    "articles announcements"
    "articles trending";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    background-color: rgba(222, 222, 222, .8);
}

.articles {
    grid-area: articles;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem;
}

.articles__title {
    font-size: 3rem;
    text-transform: capitalize;
}

.article-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-template-rows: min-content repeat(auto-fit, minmax(35rem, 1fr));
    gap: 2rem;
}

.article {
    min-height: 35rem;
    border-radius: 1rem;
    border-left: 1rem solid burlywood;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}

.article__title {
    font-size: 2.5rem;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article__description {
    text-align: justify;
    font-size: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
}

.article__icons {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 4rem;
    justify-items: center;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 1rem;
}

.article__icon {
    object-fit: contain;
    height: 100%;
    object-position: center;
    transition: all .2s ease-in-out;
}

.announcements {
    grid-area: announcements;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.announcements__title {
    font-size: 3rem;
    text-transform: capitalize;
}

.announcements-wrapper {
    background-color: #fff;
    border-radius: 10px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    padding: 2rem;
}

.announcement__head {
    font-size: 2rem;
}

.announcement__body {
    font-size: 1.5rem;
}

.trending {
    grid-area: trending;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.trending__title {
    font-size: 3rem;
    text-transform: capitalize;
}

.trending-wrapper {
    background-color: #fff;
    border-radius: 10px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    padding: 2rem;
}

.trending-account {
    display: grid;
    grid-template-areas:
    "image id"
    "image name";
    grid-template-columns: min-content 1fr;
    gap: 1rem 2rem;
}

.account__image {
    grid-area: image;
    width: 7rem;
    height: 7rem;
    object-fit: contain;
    object-position: center;
}

.account__id {
    align-self: flex-end;
    font-size: 2.5rem;
    grid-area: id;
}

.account__status {
    font-size: 1.5rem;
    grid-area: name;
}

.sidebar__main-item:hover, .sidebar__footer-item:hover {
        cursor: pointer;
        padding-left: 2rem;
        border-left: 1rem solid burlywood;
}

.search__icon:hover, .profile__image:hover, .profile__notifications:hover {
        cursor: pointer;
        opacity: .8;
}

.button:hover {
        cursor: pointer;
        background-color: aquamarine;
}

.article__icon:hover {
    cursor: pointer;
    opacity: .8;
}
